@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/quicksand/quicksand-v36-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/quicksand/quicksand-v36-latin-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/quicksand/quicksand-v36-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/quicksand/quicksand-v36-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
